@use "../../sass//mixin" as *;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.img {
  min-width: 300px;
  max-width: 100%;
}

.form {
  display: flex;
  gap: 0.5rem;
}
